<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Add Blogs</title>
</head>
<body>
   
    <%- include("./partials/nav") %>
    <div class ="container mt-3">
        <form action ="/blog" method="post"  enctype="multipart/form-data">
            <div class="mb-3">
                <label for="coverImage" class="form-label">Cover Image</label>
                <input 
                type="file" 
                class="form-control" 
                id="coverImage"
                name="coverImage" 
                aria-describedby="coverImage" 
                accept="image/*"
                >
              </div>

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" aria-describedby="title" required>
              </div>

              <div class="form-label">
                <label for="body">Body</label>
                <textarea class="form-control" name="body" id="body" required></textarea>
              </div>
            <button class="btn btn-primary">Submit</button>
        </form>

    </div>
    <%- include("./partials/script") %>
</body>
</html>