<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Home Page</title>
</head>
<body>
    <h1>from home</h1>
    <%- include("./partials/script") %>
</body>
</html>